h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.intro{
    font-size: 4.5vh;
    font-weight: bold;
}

#sub_intro{
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 10vh;
}

.card_group{
    margin: 0 5% 0 5%;
}

.portfolio_change{
    margin: 0 1em 0 1em;
}

.home_icon{
    display: flex;
    width: 175px;
    align-self: center;
}

.card-title{
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    font-size: 2.5vh;
    font-family: "Freight-Text", 'Times New Roman', Times, serif;
}