.header{
    font-weight: bold;
    margin: 2vh;
}

.description{
    padding-left: 35vh;
    padding-right: 35vh;
}

.data_table{
    display: fixed;
}
#current_value{
    display: flex;
    align-items: center;
    justify-content: center ;
    font-style: italic;
    font-size: 4vh;
}

hr{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-top: 3vh;
}

.wallet_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generate_button{
    margin-top: 5vh;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 5vh;
}

.wallet_generate_text{
    font-size: 2vh;
}